{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static "assets/vendors/mdi/css/materialdesignicons.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendors/css/vendor.bundle.base.css" %}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static "assets/style.css" %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static "assets/images/favicon.png" %}" />
  </head>
  <body>
    {% block content %}
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-4 mx-auto p-0">
              {% if messages %}
                {% for message in messages %}
                  {% if message.tags == "error" %}
                    <p style="text-align: center; font-weight: bolder; background: #fb5607; color: #fff; width: 100%; padding: 8px; border-radius: 3px 3px 0 0;">{{message}}</p>
                  {% elif message.tags == "success" %}
                    <p style="text-align: center; font-weight: bolder; background: #02c39a; color: #fff; width: 100%; padding: 8px; border-radius: 3px 3px 0 0;">{{message}}</p>
                  {% endif %}
                {% endfor %}
              {% endif %}
              <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Register</h3>

                <form action="" method="POST">
                  {% csrf_token %}
                  {{ form.non_field_errors }}

                  <div class="form-group">
                    <label for="first_name">First Name</label>
                    {{ form.first_name.errors }}
                    {{ form.first_name|add_class:"form-control p_input" }}
                  </div>

                  <div class="form-group">
                    <label for="last_name">Last Name</label>
                    {{ form.last_name.errors }}
                    {{ form.last_name|add_class:"form-control p_input" }}
                  </div>

                  <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.email.errors }}
                    {{ form.email|add_class:"form-control p_input" }}
                  </div>

                  <div class="form-group">
                    <label for="gender">Gender</label>
                    {{ form.gender.errors }}
                    {{ form.gender|add_class:"form-control p_input" }}
                  </div>

                  <div class="form-group">
                    <label for="password">Password</label>
                    {{ form.password.errors }}
                    {{ form.password|add_class:"form-control p_input" }}
                  </div>

                  <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    {{ form.password2.errors }}
                    {{ form.password2|add_class:"form-control p_input" }}
                  </div>

                  <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Remember me
                      </label>
                    </div>
                    <a href="#" class="forgot-pass">Forgot password</a>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Register</button>
                  </div>

                  <p class="sign-up text-center">Already have an Account? <a href="{% url "dashboard:loginUser" %}">Login</a></p>
                  <p class="terms">By creating an account you are accepting our<a href="#"> Terms & Conditions</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- container-scroller -->
    <script src="{% static "assets/vendors/js/vendor.bundle.base.js" %}"></script>
    <script src="{% static "assets/js/off-canvas.js" %}"></script>
    <script src="{% static "assets/js/hoverable-collapse.js" %}"></script>
    <script src="{% static "assets/js/misc.js" %}"></script>
  </body>
</html>
